@media (max-width: 510px) {
  .infobox {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.infobox {
  flex: 1;
  cursor: pointer;
}

.infobox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__total {
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: #222121 !important;
}

.infoBox_cases {
  border-top: 10px solid #cc1034;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(234 153 153)
  );
}
.infoBox_recoverd {
  border-top: 10px solid #7dd71d;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(159, 190, 147)
  );
}
.infoBox_deaths {
  border-top: 10px solid #fb4443;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(95, 34, 34)
  );
}

.infoBox_Countcases {
  font-size: 1.75rem;
  font-weight: 600;
  color: #cc1034;
}

.infoBox_Countdeaths {
  font-size: 1.75rem;
  font-weight: 600;
  color: #fb4443;
}

.infoBox_Countrecovered {
  font-size: 1.75rem;
  font-weight: 600;
  color: #7dd71d;
}
